<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132693952-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132693952-1');

    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6267750666008398",
        enable_page_level_ads: true
      });
    </script>
    <title>Code with AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/style.css'>
    <script type="text/javascript" src='../static/client.js'></script>
</head>

<body>

<div class="container">
    <div id="logo" class="row">
        <div class="col-md-12">
            <img class="logo-image" src="../static/images/code-with-ai-logo.png" align="middle" height="100px"
                 width="400px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 search-box-container main-heading">
            <h2>Which problem are you solving?</h2>
            <div id="wrap">
                <form autocomplete="on" method="post">
                    <textarea id="problem" rows="25" cols="40"
                              placeholder="Paste here your problem statement.."></textarea>
                    <input id="problem_submit" value="problem_submit" type="button" onclick="analyze()">
                </form>
            </div>
        </div>
        <div class="col-md-6" id="results">
            <div id="loading" class="hidden">
                <div class="loader"></div>
            </div>
            <div id="graph" class="hidden">
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="slide-container">-->
<!--<div class='panel panel-default message'> <div class='panel-body'>Error Message</div></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

</body>

</html>
