#logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.logo-image {
    padding: 1rem;
}

body {
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato";
}

#loading {
    width: auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin:0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

textarea {
    padding: 50px;
}
.message {
  text-align: center;
  font-size: 27px;
  font-family: "Lato";
}

.main-heading {
  text-align: center;
}

#wrap {
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 35px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 500px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

input[type="button"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="button"]:hover {
  opacity: 0.8;
}

.search-box-container {
  padding-top: 1rem;
}

.slide-container {
  width: 100%;
}

#results {
  padding-top: 30rem;
}

#graph {
  padding-left: 7em;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  margin: 10px 0;
}

ul li {
  line-height: 2;
  font-weight: bold;
  font-family: "Lato";
  font-size: .85em;
  text-transform: uppercase;
  clear: both;
}
ul li:before {
  content: "\2023";
  padding: 0 1em 0 0;
}

.bar {
  background: #EE5487;
  margin: .25em 0;
  color: gray;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
  border-radius: 1.25em;
}
.bar:nth-of-type(2n) {
  background: #f382a8;
}
.bar .label {
  font-size: .75em;
  padding: 1em;
  background: #000000;
  width: 10em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: "Lato";
  left: -10em;
  border-radius: 1.25em;
}
.bar .label.light {
  background: #1a1a1a;
}

.count {
  position: absolute;
  right: -4em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
  font-family: "Lato";
}

.percentile {
  font-family: "Lato";
  font-size: 5rem;
  text-align: center;
}

.below-caption {
  text-align: center;
  color: gray;
  margin-top: -1rem;
  font-family: "Lato";
}

.other-info {
  padding-top: 3rem;
}

.fa-my-size {
  font-size: 3.3rem;
}
